
.DS_Store

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcbkptlist

*.js~HEAD

*.xcbkptlist

*.xcbkptlist

*.xcbkptlist

SourceCode/Client/memeda/CCBProject/memeda/Published-HTML5/BGLayer.ccbi

SourceCode/Client/memeda/CCBProject/memeda/Published-HTML5/BGLayer.ccbi

*.xcbkptlist

*.xcbkptlist

*.xcbkptlist

SourceCode/Client/memeda/CCBProject/memeda/Published-*/*

SourceCode/Client/memeda/memeda/Resources/TestCCB/*

SourceCode/Client/AndroidWorkSpace/AndroidWorkSpace/.metadata/

SourceCode/Client/AndroidWorkSpace/AndroidWorkSpace/.metadata/*

SourceCode/Client/AndroidWorkSpace/AndroidWorkSpace/.metadata/.log

SourceCode/Client/AndroidWorkSpace/AndroidWorkSpace/.metadata/.log

SourceCode/Client/AndroidWorkSpace/AndroidWorkSpace/.metadata/.plugins/org.eclipse.core.resources/.projects/libcocos2dx/.markers
