<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_b_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,77},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>first_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{611,382}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,458},{611,382}}</string>
                <key>sourceSize</key>
                <string>{821,1136}</string>
            </dict>
            <key>first_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{641,876}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,149},{641,876}}</string>
                <key>sourceSize</key>
                <string>{821,1136}</string>
            </dict>
            <key>first_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{641,874}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,111},{641,874}}</string>
                <key>sourceSize</key>
                <string>{821,1136}</string>
            </dict>
            <key>first_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,2},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>first_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1043},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>first_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>first_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,878},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>first_y_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,124},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>firsthome_bkg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,1136}}</string>
                <key>sourceSize</key>
                <string>{581,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firstpage2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1930eedd246b07468a6e622f2c0cd274:1/1$</string>
            <key>textureFileName</key>
            <string>firstpage2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
