<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,323},{31,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,311},{31,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,278},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,290},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,460},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,257},{31,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,224},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,182},{31,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,140},{31,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,98},{31,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>answerButtonNormal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,186},{90,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonNormal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,94},{90,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonNormal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{90,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{90,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonTake10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,226},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonTake11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,348},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonTake20.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonTake21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,114},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonTake30.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,236},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>answerButtonTake31.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>charButton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>charButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,460},{48,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{48,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>charButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,114},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,365},{77,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{77,117}}</string>
                <key>sourceSize</key>
                <string>{85,127}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{69,119}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{69,119}}</string>
                <key>sourceSize</key>
                <string>{85,127}</string>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{59,119}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{59,119}}</string>
                <key>sourceSize</key>
                <string>{85,127}</string>
            </dict>
            <key>coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{69,119}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{69,119}}</string>
                <key>sourceSize</key>
                <string>{85,127}</string>
            </dict>
            <key>shareButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,119}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,119}}</string>
                <key>sourceSize</key>
                <string>{85,127}</string>
            </dict>
            <key>tip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,344},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,398},{34,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,338},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,250},{36,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,210},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,324},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,314},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,350},{34,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,278},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>tip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,288},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>wechatButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,123},{85,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guess1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50c1a28e22425dd15bbe4310e2b81238:1/1$</string>
            <key>textureFileName</key>
            <string>guess1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
